<div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Home</h1>
        <p>Base project</p>
        <a href="/auth/login" class="btn btn-default">
            <span class="fa fa-user"></span> 
            Local Login
        </a>
        <a href="/auth/google" class="btn btn-danger">
            <span class="fa fa-google-plus"></span> 
            Google+
        </a>
        <br><br>
        <p>MEAN Scaffolding Generator</p>
        <a href="/mean/generator" class="btn btn-success">
            <span class="glyphicon glyphicon-leaf"></span>
            One click CRUD
        </a>
</div>